.grib-container5 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: grey;
  padding: 15px;
  justify-content: space-evenly;
}
.grib-container5 > div {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
}
.grib-container4 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: grey;
  padding: 15px;
  justify-content: space-evenly;
}
.grib-container4 > div {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
}
.grib-container3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: grey;
  padding: 15px;
  justify-content: space-evenly;
}
.grib-container3 > div {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
}

h5 {
  text-align: center;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
h4 {
  margin: 20px 0 10px 0;
  font-size: 24px;
}

.overline {
  text-decoration: overline;
}
.line-through {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
.overline-underline {
  text-decoration: overline underline;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.serif {
  font-family: serif;
}
.sans-serit {
  font-family: sans-serif;
}
.monospace {
  font-family: monospace;
}
.cursive {
  font-family: cursive;
}
.fantasy {
  font-family: fantasy;
}
@media (max-width: 776px) {
  .grib-container3,
  .grib-container4,
  .grib-container5 {
    grid-template-columns: 1fr;
  }
}
